body{
    background-color: rgb(10, 3, 105);
    color: white;
    font-family: Jost;
}
header{
    overflow: hidden;
    padding: -10px;
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    padding: -10px;
}
.menu p{
    padding-left: 20px;
    
}
.side-m{
    display: flex;
    justify-content: space-evenly;
}



